___

<a href='https://plotly.com/python/'> <img src='https://plotly.com/all_static/images/plotly_graphing_libraries_1.png' /></a>
___
# Plotly y Cufflinks

**Plotly** es una libreria que permite crear gráficos interactivos para poder usarse en cuadros de mando o sitios web (se pueden guardar como archivos html o imágenes estáticas).

**Cufflinks** es una libreria que conecta un dataframe de Pandas con Plotly, lo que permite a los usuarios crear visualizaciones directamente desde Pandas. Esta libreria une el poder de Plotly con la flexibilidad de Pandas para facilitar la visualización de los datos.

## Instalación

Para que todo esto funcione, se deberá instalar plotly y cufflinks para llamar a los gráficos directamente desde un dataframe de Pandas. Estas librerias no están disponibles actualmente a través de Conda, pero están disponibles a través de pip . Instalar las librerias en su línea de comando/terminal usando:

    pip install plotly
    pip install cufflinks

## Importaciones y configuración

In [22]:
import pandas as pd
import numpy as np
%matplotlib inline

In [23]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print(__version__) # requires version >= 1.9.0

4.14.2

In [24]:
import cufflinks as cf

In [25]:
# Para Notebooks
init_notebook_mode(connected=True)

In [26]:
# Para uso offline colocar
cf.go_offline()

### Datos de prueba

In [27]:
df = pd.DataFrame(np.random.randn(100,4),columns='A B C D'.split())

In [28]:
df.head()

          A         B         C         D
0 -0.784766  0.557215 -0.845549  0.672334
1  0.588729 -0.455045 -0.484543  1.101802
2 -0.551407  0.439724  0.027427  0.735744
3  0.088408 -0.276339 -1.321577 -1.228063
4 -0.957132 -0.085710  0.220342 -0.440055

In [29]:
df2 = pd.DataFrame({'Category':['A','B','C'],'Values':[32,43,50]})

In [30]:
df2.head()

  Category  Values
0        A      32
1        B      43
2        C      50

## Usando Cufflinks e iplot()

* Scatter
* Bar
* Boxplot
* 3D surface
* Histograma
* Burbujas

## Scatter

In [1]:
df.iplot(kind='scatter',x='A',y='B',mode='markers',size=10)

NameError: name 'df' is not defined

## Bar Plots

In [ ]:
df2.iplot(kind='bar',x='Category',y='Values')

In [ ]:
df.count().iplot(kind='bar')

## Boxplots

In [ ]:
df.iplot(kind='box')

## Superficie 3D

In [ ]:
df3 = pd.DataFrame({'x':[1,2,3,4,5],'y':[10,20,30,20,10],'z':[5,4,3,2,1]})
df3.iplot(kind='surface',colorscale='rdylbu')

## histogram

In [ ]:
df['A'].iplot(kind='hist',bins=25)

In [ ]:
df.iplot(kind='bubble',x='A',y='B',size='C')

## scatter_matrix()

Similar a sns.pairplot()

In [ ]:
df.scatter_matrix()

# Buen trabajo!